fastapi>=0.100.0
uvicorn>=0.27.1
tensorflow==2.16.2
keras==3.3.3
tf_keras==2.16.0
pillow>=10.2.0
numpy==1.26.4
python-multipart>=0.0.9
opencv-python-headless==4.8.1.78
typing-extensions>=4.5.0
pydantic>=2.0.0
google-generativeai>=0.8.0
python-dotenv>=1.0.0
